
# Folders
.vscode
node_modules
sharepoint
src
temp
config
typings
lib/webparts
assets
dist
docs
scripts
.github

# Files
*.csproj
.git*
.yo-rc.json
.editorconfig
gulpfile.js
tsconfig.json
yarn.lock
tslint.json
.prettierrc