.asyncDropdown {
    .tooltip {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flexCenter {
        display: flex;
        align-items: center;
    }

    .tooltipRequiredOverride {
        &::after {
            display: none;
        }
    }
}
