@import "~@fluentui/react/dist/sass/ThemingSass.scss";

.asyncDropdown {
    .tooltipContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .tooltip {
        cursor: pointer;
    }

    .flexCenter {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .tooltipRequiredOverride {
        &::after {
            display: none;
        }
    }

    .errorMessage {
        color: $errorTextColor;
    }
}
